/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #1d1b1b;
  --white: #d6d2d2;
  --gray: #1d1b1b;
  --black1: #1d1b1b;
  --black2: #1d1b1b;
}

/* Ajouter un conteneur pour les tableaux */
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Pour un défilement fluide sur les appareils mobiles */
}
search
/* Appliquer le conteneur à l'élément table */
.table-responsive table {
  width: 100%;
  border-collapse: collapse;
}


body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

            #addButton {
  background-color: #1d1b1b; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Padding pour agrandir le bouton */
  border: none; /* Enlever les bordures */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur en forme de main */
  margin: 20px 0 20px 20px; /* Marge autour du bouton (20px en haut et en bas, 0px à gauche et à droite) */
  font-size: 16px; /* Taille du texte */
}

#addButton:hover {
  background-color: #333; /* Couleur de fond lors du survol */
}
.table-container {
    max-width: 90%; /* Ajustez cette valeur pour élargir ou réduire la largeur de la table */
    margin: 20px auto; /* Centrage horizontal avec un petit espace en haut et en bas */
    padding: 20px; /* Espacement intérieur autour de la table */
    background-color: #1d1b1b;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for the table */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styling */
.styled-table thead {
    background-color: #333;
    color: #fff;
}

.styled-table thead th {
    padding: 10px;
    text-align: left;
}

/* Row styling */
.styled-table tbody tr:nth-child(even) {
    background-color: #f4f4f4;
}

.styled-table tbody tr:nth-child(odd) {
    background-color: #fff;
}

.styled-table tbody td {
    padding: 10px;
    text-align: left;
}
/* Wrapper autour de la table pour le scroll horizontal */
.table-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Pour une meilleure expérience sur mobile */
    padding: 0 10px; /* Espacement intérieur horizontal (gauche et droite) */
}

.table-wrapper .styled-table {
    width: 100%;
    min-width: 600px; /* Taille minimale pour éviter l'écrasement du contenu */
}



@media screen and (max-width: 600px) {
    .styled-table {
        border: 0;
    }

    .styled-table thead {
        display: none; /* Cache l'en-tête de la table sur mobile */
    }

    .styled-table tbody tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #ddd; /* Ajoute une bordure autour de chaque ligne pour la distinguer */
    }

    .styled-table tbody td {
        display: block;
        text-align: right;
        padding-left: 50%;
        position: relative;
        border-bottom: 1px solid #eee;
    }

    .styled-table tbody td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: calc(50% - 20px);
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
}

/* Hover effect */
.styled-table tbody tr:hover {
    background-color: #ddd;
}

.entries {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    margin: 0px 0 20px 20px;
    
}

.entries select {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #1d1b1b;
    color: #d6d2d2;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.entries select:hover {
    border-color: #999;
}
.pagination-container {
    text-align: center;
    margin-top: 20px;
}

.pagination {
    display: inline-block;
    margin-top: 10px;
}

.pagination button {
    background-color: #1d1b1b;
    border: 1px solid #ddd;
    color: #d6d2d2;
    padding: 8px 16px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination button:hover {
    background-color: #2e2c2c;
    color: #d6d2d2;
}

.pagination button.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.pagination button:disabled {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
    border-color: #ddd;
}


/* Wrapper autour de la table pour le scroll horizontal */
.table-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Pour une meilleure expérience sur mobile */
    padding: 0 10px; /* Espacement intérieur horizontal (gauche et droite) */
}

.table-wrapper .styled-table {
    width: 100%;
    min-width: 600px; /* Taille minimale pour éviter l'écrasement du contenu */
}


/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between; /* Espacer les éléments */
  align-items: center; /* Aligner verticalement au centre */
  padding: 0 10px;
}

.toggle {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 10px 10px;
}

.search label {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 40px; /* Ajustez pour faire de la place à l'icône */
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.search label button {
  position: absolute;
  top: 50%;
  left: 10px; /* Positionner l'icône à l'intérieur de la barre de recherche */
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: var(--black2);
}




.user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);
}

.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .card .iconBx {
  font-size: 3.5rem;
  color: var(--black2);
}

.cardBox .card:hover {
  background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: var(--white);
}

/* ================== Order Details List ============== */
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  /* margin-top: 10px; */
}

.details .recentOrders {
  position: relative;
  display: grid;
  min-height: 500px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2 {
  font-weight: 600;
  color: var(--blue);
}
.cardHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details table thead td {
  font-weight: 600;
}
.details .recentOrders table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr:last-child {
  border-bottom: none;
}
.details .recentOrders table tbody tr:hover {
  background: var(--blue);
  color: var(--white);
}
.details .recentOrders table tr td {
  padding: 10px;
}
.details .recentOrders table tr td:last-child {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(2) {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(3) {
  text-align: center;
}
.status.delivered {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.pending {
  padding: 2px 4px;
  background: #e9b10a;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.return {
  padding: 2px 4px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.inProgress {
  padding: 2px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.recentCustomers .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}
.recentCustomers .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recentCustomers table tr td {
  padding: 12px 10px;
}
.recentCustomers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2rem;
}
.recentCustomers table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}
.recentCustomers table tr:hover {
  background: var(--blue);
  color: var(--white);
}
.recentCustomers table tr:hover td h4 span {
  color: var(--white);
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }


  
}


/* Styles pour les boutons */
.action-btn {
    background-color: #4CAF50; /* Vert */
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.action-btn i {
    margin-right: 5px;
}

.action-btn:hover {
    background-color: #45a049;
}

.action-btn.delete {
    background-color: #f44336; /* Rouge */
}

.action-btn.delete:hover {
    background-color: #d32f2f;
}


/* Styles pour le modal */
.modal {
  display: none; /* Caché par défaut */
  position: fixed; /* Reste en place */
  z-index: 1; /* Au-dessus des autres éléments */
  left: 0;
  top: 0;
  width: 100%; /* Pleine largeur */
  height: 100%; /* Pleine hauteur */
  overflow: auto; /* Activer le défilement si nécessaire */
  background-color: #1d1b1b; /* Noir avec opacité */
}

/* Contenu du modal */
.modal-content {
  background-color: #d6d2d2;
  margin: 10% auto; /* 10% du haut et centré */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Peut être plus ou moins, selon la taille de l'écran */
  border-radius: 8px; /* Coins arrondis */
}

/* Bouton de fermeture */
.close-btn {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* Changement de couleur et de curseur au survol */
.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Styles pour les détails du véhicule */
#vehicleDetails {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes égales */
  gap: 15px; /* Espacement entre les colonnes */
}

.detail-item {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #1d1b1b;
}

.detail-item label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.detail-item p {
  margin: 0;
  color: #d6d2d2;
}


.detail-item {
  margin-bottom: 10px;
}

.color-preview {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border: 1px solid #ccc;
  vertical-align: middle;
}
.color-preview {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
}
